MONGO_URL=
DB_NAME=
PORT=5000
CLIENT_URL=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_JWT_SECRET=
ADMIN_TOKEN_TTL_SECONDS=
USER_JWT_SECRET=
USER_TOKEN_TTL_SECONDS=
